body {
    background: #000000;
    font-family: sans-serif;
    font-size: 14px;
    background-image: url("./bg.png");
    color: #FFFFFF;
    top: 0;
    bottom: 0;
  }

a {
    color: white;
    text-decoration: none;
    }

a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
    }

#header {
    font-size:64px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

#menuprincipal {
    margin: 0 auto;
    display:table;
    }

#cuerpo {
    margin: 0 auto;
    width: 840px;
    background-color: rgba(0,0,0,0.4);
    }

#columnacen {
    margin: 0 auto;
    width: 600px;
    text-align: center;
    }

#columnacen table {
    margin: 0 auto;
    text-align: left;
    }
    
.hidden_button{
        position: absolute;
        visibility: hidden;
}
    
.info_table {
    margin: 0 auto;
    text-align: left;
    border: 2px solid;
    border-color: #403020;
    border-collapse:collapse;
    }

.info_table td,tr{
    border: 2px solid;
    border-color: #503010;
    padding: 5px 10px;   
    }

.info_table .tr_header {
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
    background-color: rgba(125,75,25, 0.1);
}

.reg_table {
    margin: 0 auto;
    border: 2px solid;
    border-color: #503010;
    border-collapse:collapse;
    }

.reg_table .tr_header {
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
    background-color: rgba(150,50,50, 0.1);
}
.reg_table td,tr{
    border: 2px solid;
    border-color: #503020;
    padding: 5px 10px;   
    }


#columnaizq {
    float: right;
    }

#columnader {
    float: right;
    }

.s_button {
    color: #FFFFFF;
    background-color: rgba(0,0,0, 0.3);
    border: 2px;
    border-style: solid;
    border-color: #FFFFFF;
  }

.popmenu {
    float: left;
	text-align: center;
	line-height: 20px;
    height: 20px;
    padding: 0;
    background-color: #0F0F0F;
    background-color: rgba(255,255,255, 0.1);
    width: 200px;
    }

.popmenu:hover {
    font-weight: bold;
    text-decoration: none;
    }

.popmenu div{
	position: relative;
	visibility: hidden;
    }
 
.popmenu:hover div {
    visibility: visible; 
    text-align: center;
    }
 
.popmenu ul {
    font-weight: normal;
	margin: 0;
	padding: 0;
    background-color: #224477;
    background-color: rgba(40,30,0, 0.8);
    }

.popmenu ul li {
    padding: 5px 15px 5px 15px; 
    display: block;
    }
