body {
    background-color: #3A3A3A;
    color: #FFFFFF;
    top: 0;
    bottom: 0;
  }

a {
    color: white;
    text-decoration: none;
    }

a:hover {
    color: white;
    text-decoration: underline;
    }

#menuprincipal {
    margin: 0 auto;
    display:table;
    }

#cuerpo {
    margin: 0 auto;
    width: 80%;
}

#columnacen {
    margin: 0 auto;
    text-align: center;
    }

#columnacen table {
    margin: 0 auto;
    text-align: left;
    }
    

.reg_table {
    margin: 0 auto;
    text-align: left;
    }

#columnaizq {
    width: 15%;
    float: left;
    text-align: justify;
    overflow: hidden;
    }

#columnader {
    width: 15%;
    float: right;
    text-align: justify;
    overflow: hidden;
    }

.reg_form {
    
  }

.s_button {
    color: #3AAACA;
    border: 0px;
  }

.popmenu {
    float: left;
	text-align: center;
	line-height: 20px;
    height: 20px;
    padding: 0;
    background-color: #15252F;
    width: 200px;
    }

.popmenu div{
	position: relative;
	visibility: hidden;
    }
 
.popmenu:hover div {
    visibility: visible; 
    text-align: center;
    }
 
.popmenu ul {
	margin: 0;
	padding: 0;
    background-color: rgba(0,70,100, 0.8);
    }

.popmenu ul li {
    padding: 5px 15px 5px 15px; 
    display: block;
    }
